<p>
  <strong>Commenter:</strong>
  <%= comment.user.email %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
 
<% if signed_in? and comment.user == current_user %>	
	<p>
		<%= link_to 'Destroy Comment', [comment.post, comment],
								 :confirm => 'Are you sure?',
								 :method => :delete %>
	</p>
<% end %>
